*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.Shahobiddin h1{
    font-size: 60px;
    font-weight: 500;
    background: green;
    color: rgb(255, 234, 0);
}